<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        Kidsquad RFID Platform
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        The kidsquad RFID reading & writing system
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <p
          class="rounded-md px-3.5 py-2.5 text-xl font-semibold text-primary-500 shadow-sm"
        >
          Scanner Id
        </p>
        <p
          class="rounded-md bg-primary-600 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm"
        >
          {{ scannerId }}
        </p>
      </div>
      @if (showInput) {
      <form class="mt-10 max-w-md mx-auto">
        <div class="relative">
          <input
            type="url"
            id="default-search"
            class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500"
            name="scannerUrl"
            [formControl]="scannerUrl"
          />
          <button
            type="button"
            (click)="connectScanner()"
            class="text-white absolute end-2.5 bottom-2.5 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2"
          >
            Connect
          </button>
        </div>
      </form>
      @if(showConnecting){
      <div class="w-full flex justify-center">
        <div
          class="mt-20 bg-amber-100 border border-red-400 text-red-700 px-4 py-3 rounded-md relative max-w-sm"
          role="alert"
        >
          <strong class="font-bold">Connecting...</strong>
        </div>
      </div>
      } }
    </div>
  </div>
</div>
