<div class="bg">
  @if (showSuccessMessage) {
  <div class="absolute top-0 left-0 z-auto flex w-full justify-center">
    <app-dialog [data]="cloudResponse"></app-dialog>
  </div>
  } @if (showTempMessage) {
  <div class="absolute top-0 left-0 z-auto flex w-full justify-center">
    <app-pending
      [pendingMessage]="'Scan done. Checking details...'"
    ></app-pending>
  </div>
  } @if (!showSuccessVideo) {
  <video
    class="min-w-full min-h-full m-auto"
    [autoplay]="true"
    loop
    src="assets/video1.mp4"
    type="video/mp4"
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
    poster="assets/bg.png"
  ></video>
  }@else{
  <video
    (ended)="vidEnded()"
    class="min-w-full min-h-full m-auto"
    [autoplay]="true"
    src="assets/video2.mp4"
    type="video/mp4"
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
    poster="assets/bg.png"
  ></video>
  }
</div>
